<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <title>New Post</title>
</head>

<body>
    <header>
        <img src="https://static.vecteezy.com/system/resources/previews/018/930/473/original/instagram-logo-instagram-icon-transparent-free-png.png"
            alt="Insta Logo">
        <h1 id="insta_name">Instagram</h1>
    </header>
    <main>
        <h2 id="new_post_h1">Write Your Post here:</h2>
        <div class="form_div">
            <form action="/posts" method="post" id="post_form" enctype="multipart/form-data">
                <input type="text" name="username" placeholder="Enter your username">
                <input type="text" name="name" placeholder="Enter your name">
                <input type="file" name="image" accept="image/*">
                <textarea name="comment" id="" cols="30" rows="10" placeholder="Enter your comment"></textarea>
                <button type="submit">
                    POST
                </button>
            </form>
        </div>
    </main>
    <script>
        function submitForm() {
            const formData = new FormData(document.getElementById("post_form"));
            for (const pair of formData.entries()) {
                console.log(pair[0] + ', ' + pair[1]);
            }
            document.getElementById("post_form").submit();
        }
    </script>
</body>

</html>
